html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Figtree", sans-serif;
    font-size: 16px;

    background-color: #F5D04E;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body .container {

    width: 320px;
    background-color: white;
    padding: 14px 22px 10px 22px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px black solid;
    border-radius: 15px;
}